venv/
*.sqlite3
__pycache__/
node_modules/
.DS_STORE

# parser stuff
/Closure_Project/Parser/tracks/
/Closure_Project/Parser/*.json
/Closure_Project/Parser/*.html

# backend static files(swagger, etc...)
/Closure_Project/staticfiles/

# Sensitive files
/Closure_Project/.env
/Closure_Project/.env.*
!/Closure_Project/.env.example
Closure_Project/token.txt

# migrations - eventually will need to enable them
/Closure_Project/rest_api/migrations/


# frontend
=======
/Closure_Front_End/node_modules/
/Closure_Front_End/dist/
/Closure_Front_End/.browserslistrc
/Closure_Front_End/babel.config.js
/Closure_Front_End/*.json
/Closure_Project/staticfiles/
/Closure_Project/Closure_Project/migrations/

# This file should only be accessible via the secret manager
/Closure_Project/.env
/Closure_Project/.env.*
!/Closure_Project/.env.example
__pycache__/
