/Closure_Project/db.sqlite3
/venv/
Closure_Project/project_settings/__pycache__/
/Closure_Project/Parser/tracks/
/Closure_Project/Parser/*.json
/Closure_Project/Parser/*.html
/Closure_Project/rest_api/migrations/
/Closure_Front_End/node_modules/
/Closure_Front_End/dist/
/Closure_Front_End/.browserslistrc
/Closure_Front_End/babel.config.js
/Closure_Front_End/*.json
.DS_STORE
Closure_Project/token.txt