venv/
*.sqlite3
.vscode/
.idea
__pycache__/
.pytest_cache
node_modules/
.DS_STORE

# parser stuff
/Closure_Project/Parser/tracks/
/Closure_Project/Parser/*.json
/Closure_Project/Parser/*.html


# Sensitive files
/Closure_Project/.env
/Closure_Project/.env.*
!/Closure_Project/.env.example

# backend
/Closure_Project/token.txt
/Closure_Project/staticfiles/
/Closure_Project/Closure_Project/migrations/


# frontend
/Closure_Front_End/node_modules/
/Closure_Front_End/dist/
# Since frontend .env contains no secrets, they can be committed, except for the local ones which are only for local development.
/Closure_Front_End/.env*.local
