pandas~=1.2.4
requests~=2.25.1
Django~=3.2
bs4~=0.0.1
beautifulsoup4~=4.9.3
urllib3~=1.26.4
jsonpickle~=2.0.0
lxml~=4.6.3
html5lib~=1.1
pip~=21.1.1
pytz~=2021.1
sqlparse~=0.4.1
asgiref~=3.3.4
numpy~=1.20.2
setuptools~=56.0.0
djangorestframework~=3.12.4